/* ==================================================================
  Credit to Matt McAdams for CSS Boilerplate:
  https://github.com/MattMcAdams/CSS-Boilerplate
================================================================== */

:root {
  /* Spacing */
  --space_05: 0.25rem; /* 4px   - utility to substitute 0 margins */
  --space_1: 0.5rem; /* 8px   - utility for tight paddings etc */
  --space_2: 1rem; /* 16px  - 1/2 line height, for closely related elements */
  --space_4: 2rem; /* 32px  - 1 line height, for related elements */
  --space_8: 4rem; /* 64px  - 2 line heights, for loosely related elements */
  --space_16: 8rem; /* 128px - 4 line heights, for unrelated elements */

  /* Semantic Space */
  --space_flow: var(--space_4);
  --space_gutter: var(--space_2);
  --space_section: var(--space_8);
  --space_grid-gap: var(--space_4);
  --space_flex-gap: var(--space_2);
  --space_layout-gap: var(--space_4);

  /* Colors */
  --color_text--default: #18181b;
  --color_text--subtle: #71717a;
  --color_text--link: #f88b06;
  --color_text--link-alt: #f88b06;
  --color_text--accent: var(--color_text--link);
  --color_background--element: #f4f4f5;
  --color_background--chip: #e4e4e7;
  --color_accent: var(--color_text--link);

  /* Font Families */
  --font_body: 'Charter', sans-serif;
  --font_head: inherit;
  --font_mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;

  /* Font Weights */
  --font_weight--thin: 100;
  --font_weight--extralight: 200;
  --font_weight--light: 300;
  --font_weight--normal: 400;
  --font_weight--medium: 500;
  --font_weight--semibold: 600;
  --font_weight--bold: 700;
  --font_weight--extrabold: 800;
  --font_weight--black: 900;

  /* Font Sizes & Line Heights */
  /* Based on a modular scale 1.125 by 1.2 */
  /* Exact values have been refined to be a whole pixel value */
  --font_size--small: 0.9375rem; /* 15px */
  --font_size--normal: 1.125rem; /* 18px */
  --font_size--medium: 1.375rem; /* 22px */
  --font_size--large: 1.625rem; /* 26px */
  --font_size--xlarge: 1.9375rem; /* 31px */
  --font_size--xxlarge: 2.3125rem; /* 37px */
  --font_size--xxxlarge: 2.8125rem; /* 45px */

  /* Line heights */
  --font_height--small: 1.2;
  --font_height--normal: 1.8;
  --font_height--medium: 1.5;
  --font_height--large: 1.3;
  --font_height--xlarge: 1.2;
  --font_height--xxlarge: 1.1;
  --font_height--xxxlarge: 1;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 16px;
  vertical-align: baseline;
}

hr {
  border: none; /* Removes default border */
  height: 2px; /* Adjust thickness */
  background-color: black; /* Line color */
  margin: 20px 0; /* Spacing above and below */
}

body {
  line-height: 1;
}

#app {
  background-color: #f2f2f2;
}

ol,
ul {
  list-style: none;
}

/* Links that point to a location on the same page will scroll
   * smoothly down to that location. */

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* ==============================
  /* SECTION Typography
  ============================== */

/* Set the document's default font, color, size, and line height */

body {
  font-family: var(--font_body);
  font-size: var(--font_size--normal);
  line-height: var(--font_height--normal);
  color: var(--color_text--default);
  background: var(--color_background--surface);
  accent-color: var(--color_accent);
}

body.overlay_open {
  overflow: hidden;
}

/* Heading typography */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font_head);
  font-weight: var(--font_weight--bold);
}

h1,
.util_txt--h1 {
  font-size: var(--font_size--xxxlarge);
  line-height: var(--font_height--xxxlarge);
}

h2,
.util_txt--h2 {
  font-size: var(--font_size--xxlarge);
  line-height: var(--font_height--xxlarge);
}

h3,
.util_txt--h3 {
  font-size: var(--font_size--xlarge);
  line-height: var(--font_height--xlarge);
}

h4,
.util_txt--h4 {
  font-size: var(--font_size--large);
  line-height: var(--font_height--large);
}

h5 {
  font-size: var(--font_size--medium);
  line-height: var(--font_height--medium);
}
/* SECTION Typography
  ============================== */

/* SECTION Buttons
  ============================== */

button {
  all: unset;
  display: inline-block; /* Optional: restore the inline-block layout */
  cursor: pointer; /* Optional: ensure the button retains its clickable behavior */
}

/* !SECTION Buttons */

/* ==============================
  /* SECTION Container System
  ** Containers allow for a robust and flexible layout system by
  ** applying the gutter padding and max width to the container itself.
  ** Containers can be nested as needed.
  ============================== */

/* Setup containers */

.container {
  margin-inline: auto;
  padding-inline: var(--space_gutter);
  max-width: var(--width_content);
}

.container--wide {
  margin-inline: auto;
  padding-inline: var(--space_gutter);
  max-width: var(--width_wide);
}

.container--full {
  margin-inline: auto;
  padding-inline: var(--space_gutter);
}

/* Allow nested containers wider than parent */

.container > .container--wide {
  max-width: var(--width_wide);
  margin-inline: calc(
    min(calc(100vw - 100%), calc(var(--width_wide) - 100%)) / -2
  );
}

.container > .container--full,
.container--wide > .container--full {
  max-width: 100vw;
  margin-inline: calc((100vw - 100%) / -2);
}

/* Remove duplicate gutters from nested containers the same size as parent */

.container > .container,
.container--wide > .container--wide,
.container--full > .container--full {
  margin-inline: calc(var(--space_gutter) * -1);
}

/* Account for containers smaller than parent */

.container--wide > .container,
.container--full > .container {
  margin-inline: max(
    calc(var(--space_gutter) * -1),
    calc((100% - var(--width_content)) / 2)
  );
}

.container--full > .container--wide {
  margin-inline: max(
    calc(var(--space_gutter) * -1),
    calc((100% - var(--width_wide)) / 2)
  );
}

/* Set up for flex containers */

.flex--standard--row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex--standard--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* !SECTION Containers */
/* ==============================
    /* SECTION Flow Spacing
    ** Flow spacing is the space between elements in a vertical flow.
    ** The .section class is provided for larger gaps between sections.
    ** Flow spacing can be applied to a individual container using the .layout--flow class. or to the entire document using the .global--flow class. The implementation is different for each method, so consider how you want the spacing to be applied.
    ============================== */

.layout--flow > * + *,
blockquote > * + *,
details > * + * {
  margin-block-start: var(--space_flow);
}

.layout--flow > header {
  margin-block-start: 0 !important;
}

.layout--flow-double > * + * {
  margin-block-start: calc(var(--space_flow) * 2);
}

.layout--flow-half > * + * {
  margin-block-start: calc(var(--space_flow) / 2);
}

.layout--flow > * + h1,
.layout--flow > * + h2,
.layout--flow > * + h3,
.layout--flow > * + h4,
.layout--flow > * + h5,
.layout--flow > * + h6 {
  margin-block-start: calc(var(--space_flow) * 2);
}

.layout--flow > h1 + h2,
.layout--flow > h2 + h3,
.layout--flow > h3 + h4,
.layout--flow > h4 + h5,
.layout--flow > h5 + h6 {
  margin-block-start: calc(var(--space_flow) / 2);
}

.section {
  margin-block-start: var(--space_section);
}

/* !SECTION Flow Spacing */
/* ==============================
    /* SECTION Level
    ** Creates a bar with content vertically aligned on both sides
    ** Good for split navigation bars etc.
    ============================== */

.layout--level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: var(--space_gutter);
}

/* !SECTION Level */
/* ==============================
  
    /* SECTION App
  ** The app wrapper ensures the the site footer sticks to the
  ** bottom of the viewport on short pages.
  ** Structure should be as follows:
  ** <div id="app">
  **   <header></header>
  **   <main></main>
  **   <footer></footer>
  ** </div>
  ** No other elements should be present in the app div.
  ============================== */

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

#app > :nth-child(2) {
  width: 100%;
  flex: 1 0 auto;
  place-content: start center;
}

/* !SECTION App */
/* ==============================
  
    /* !HEADER */
/* ============================== */

header {
  position: relative;
  padding: 10px 0 150px 20px;
  display: flex;
  align-items: center;
}

header > h1 {
  position: absolute;
  left: 20px;
}

#profile {
  width: 30%;
}

#icon {
  position: absolute;
  left: -90px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caption_text {
  font-size: var(--font_size--normal);
}

#menu_container {
  position: absolute;
  right: 20px;
  top: 20px;
}

#menu {
  background-color: #ffd8a8;
  padding: 10px 14px 10px 14px;
  border-radius: 4px;
  cursor: pointer;
}

#menu:hover {
  background-color: #ffc680;
}

#menu > i {
  margin-right: 5px;
  color: var(--color_text--link);
}

#menu > p {
  color: var(--color_text--link);
  font-weight: 900;
}

#votes_left {
  font-size: small;
  text-align: center;
}

/* !MAIN */
/* ============================== */

#app {
  position: relative;
}

#quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#overlay {
  height: 100vh;
  width: 100%;
  background-color: #ced1d5bf;
  position: absolute;
  overflow-y: scroll;
  z-index: 1;
}

.overlay.inactive {
  display: none;
}

.overlay.active {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
}

#close_overlay {
  position: relative;
}

#close_overlay_button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: var(--font_size--medium);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  background-color: transparent;
  border: none;
}

#voting {
  background-color: #f2f2f2;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#voting_tabs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.voting_tabs_button {
  font-size: var(--font_size--normal);
  cursor: pointer;
  background-color: white;
  color: rgb(197, 190, 190);
  transition: background-color 0.2s ease-in-out 0ms;
  text-align: center;
  padding: 5px 0 5px 0;
  z-index: 2000;
}

.voting_tabs_button.active {
  border-bottom: rgb(40, 39, 39) solid 2px !important;
  color: black;
}

.voting_form {
  width: 100%;
}

.voting_form.inactive {
  display: none;
}

.voting_form.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.voting_form_title {
  font-weight: var(--font_weight--bold);
  font-size: var(--font_size--medium);
  margin-bottom: 40px;
}

#versus_section_title {
  margin-top: 15px;
}

#versus_section_quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  /* margin-bottom: 50px; */
}

.versus_section_quote_card {
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

#versus_section_quotes_1 {
  border: rgba(238, 65, 65, 0.83) solid 2px;
}

#versus_section_quotes_2 {
  border: rgba(65, 71, 238, 0.83) solid 2px;
}

#overlay_vote_count {
  margin-top: 20px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  max-width: 100px;
  text-align: center;
  background-color: #c6c6cd;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#overlay_vote_count > p,
#overlay_vote_count_span {
  font-size: 1rem;
}

#overlay_vote_count_span {
  font-weight: bold;
}

/* Search - START */

#search_section {
  margin-bottom: 25px;
}

#search_section_title {
  margin-top: 15px;
  margin-bottom: 25px;
}

#button_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(auto, auto);
  width: 90%;
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 20px;
}

.search_section_button {
  text-align: center;
  font-size: var(--font_size--large);
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

.search_section_button.inactive {
  background-color: #e5e5edd8;
}

.search_section_button.active {
  background-color: #acacb3d8;
}

#search_quotes_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 60vh; /* allowed height for scrolling purposes together with padding-top to push top quote down and overflow auto to allow scroll */
  overflow-y: auto;
}

#search_quotes_container > #money_quotes, #search_quotes_container > #fire_quotes {
  padding-top: 150px;
}

.emoji_search_quotes {
  width: 90%;
}

/* No need to add active just add/remove inactive */
#money_quotes.inactive, #prediction_quotes.inactive, #energy_quotes.inactive, #fire_quotes.inactive, #world_quotes.inactive, #up_quotes.inactive, #think_quotes.inactive, #target_quotes.inactive {
  display: none;
}

.search_quote_card {
  font-size: var(--font_size--small);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  border-bottom: 2px solid #ced1d5;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.search_quote_card > .emoji {
  align-self: start;
}

.search_quote_card > .search_quote_card_text {
  justify-self: start;
}
/* From Uiverse.io by andrew-demchenk0 */

.vote_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.vote_container {
  display: block;
  position: relative;
  cursor: pointer;
  justify-self: center;
}

.vote_container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  transition: all 0.3s;
  fill: #666;
}

.vote_container svg:hover {
  transform: scale(1.1);
}

.vote_container input:checked ~ svg {
  fill: #E3474F;
  cursor: not-allowed;
}

#vote_popup, #no_votes_popup {
  position: fixed;
  z-index: 3;
  top: 1%;
  left: 30%;
  background-color: #f6f6f8;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
}

#vote_popup.inactive, #no_votes_popup.inactive {
  display: none;
}

/* Search - END */

/* Home page - START */

#intro {
  margin-bottom: 20px;
  
}

.quote_card {
  font-size: var(--font_size--small);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  border-bottom: 2px solid #ced1d5;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 700px;
}

.top_ranks {
  justify-self: start;
}

.rank {
  justify-self: start;
  background-color: #c6c6cd;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.vote {
  justify-self: end;
}

.emoji {
  font-size: var(--font_size--xlarge);
}

/* RESPONSIVE */

/* SMALL SCREEN - < 360px */

@media (max-width: 460px) {

  .voting_form_title {
    width: 80%;
  }
  
  #button_container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }

  .search_section_button {
    width: 50px;
  }

  #search_quotes_container > #target_quotes {
    padding-top: 10px;
  }

}

@media (min-width: 760px) {

  #menu {
    padding: 15px 19px 15px 19px;
  }

  #menu > i, #menu > p {
    font-size: var(--font_size--normal);
  }

  #intro {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: left;
  }

  #intro_text {
    
    max-width: 700px;
  }

  #voting {
    width: 90%;
    max-width: 800px;
    height: 90%;
    border-radius: 8px;
    justify-self: center;
  }
  
  #button_container {
    max-width: 600px;
  }

  #search_quotes_container {
    width: 90%;
    max-width: 800px;
  }

  .search_section_button {
    width: 90px;
    height: 60px;
  }

  #search_quotes_container > #money_quotes {
    padding-top: 0px;
  }

  #search_quotes_container > #fire_quotes {
    padding-top: 60px;
  }

 

  

}

@media (min-width: 850px) {

  #voting {
    width: 80%;
    border-radius: 8px;
    justify-self: center;
  }

}